*{
 box-sizing: border-box;
 margin: 0px;
}

body {
  background-color: white;
}

header {
  background: black;
  color: white;
  height: 100px;
  justify-content: space-between;
  font-size: 2em;
  padding-bottom: 15px;
  padding-top: 10px;
  line-height: 100px;
  padding: 0 50px;
}

h1 {
  font-family: 'Cabin Sketch', cursive;
}


.container {
    display: flex;
    flex-wrap: wrap;
}

nav {
    width: 50%;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: white;
}


a:hover {
    background-color: #F6CECE;
}



.pandas {
  display: inline;
  margin-left: 115px;
  margin-top: 50px;
  visibility: visible;
}


img {
  width: 15%;
  margin-top: 20px;
}


.botonSecciones {
  display: block;
  margin-top: 20px;
  margin-left: 60px;
}

.botonSecciones div {
  background-color: #D8D8D8;
  text-align: center;
  font-family: 'Poiret One', cursive;
  padding: 10px 130px;
  display: inline-block;
  margin-left: 80px;
  position: relative;
  cursor: pointer;
}

.botonSecciones div a {
  color: black;
}

.texto {
    display: inline-block;
    margin-left: 125px;
    width: 500px;
    text-align: justify;
    font-family: 'Poiret One', cursive;
    color: black;
    margin-top: 30px;
    visibility: hidden;
}

.cerrar {
  position: absolute;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  color: black;
}


.cerrar:hover,
.cerrar:focus {
   color: #878787;
   cursor: pointer;
 }


footer {
  font-family: 'Poiret One', cursive;
  background-color: #585858;
  color: white;;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1em;
  text-align: center;
}
